*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  width: 80%;
}
.youtube{
  transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: all 2s ease;
  animation-name: myAnimationreserve;
  animation-duration: 2s;
  margin-right: 40px;
}
.youtube:hover{
  animation: myAnimation 2s  ease  1;
}
.twitter{
  transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: all 2s ease;
  animation-name: myAnimationreserve;
  animation-duration: 2s;
  margin-right: 40px;
}
.twitter:hover{
  animation: myAnimation 2s ease  1;
}
.facebook{
  transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: all 2s ease;
  animation-name: myAnimationreserve;
  animation-duration: 2s;
  margin-right: 40px;
}
.facebook:hover{
  animation: myAnimation 2s ease  1;
}
@keyframes myAnimationreserve{
  0% {
   
    transform:rotateX(0deg) rotateY(-180deg) rotateZ(-360deg);
}
50% {
    transform: rotateX(-180px) rotateY(360px) rotateZ(720px);
}
100% {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
}
@keyframes myAnimation{
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
50% {
    transform: rotateX(-180px) rotateY(360px) rotateZ(720px);
}
100% {
     transform:rotateX(0deg) rotateY(-180deg) rotateZ(-360deg);
}
}
.box{
  width: 300px;
  height: 300px;
  background-color: #e5e5e5;
  border: 1px solid #c4c4c4;
  text-align: center;
  line-height: 300px;
  font-size: 30px;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 40px;
}
.front {
  transform: translate3d(0, 0, 150px);
}
.back {
  transform: translate3d(0, 0, -150px) rotateY(180deg);
}

.left {
  transform: translate3d(-150px, 0, 0px) rotateY(-90deg);
}

.right {
  transform: translate3d(150px, 0, 0px) rotateY(90deg);
  
}

.top {
  transform: translate3d(0px, -150px, 0px) rotateX(-90deg);
}

.bottom {
  transform: translate3d(0px, 150px, 0px) rotateX(-90deg);
}
.bx{
  font-size: 80px;
  color: #616161;
}
.youtube .back{
  background-color: rgb(243, 66, 66);
}
.youtube .back .bx{ 
  background-color: rgb(243, 66, 66);
  color: #fff;
}
.twitter .back{
  background-color: rgb(77, 201, 250);
}
.twitter .back .bx{ 
  background-color: rgb(77, 201, 250);
  color: #fff;
}
.facebook .back{
  background-color: rgb(52, 97, 243);
}
.facebook .back .bx{ 
  background-color: rgb(52, 97, 243);
  color: #fff;
}