*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  width: 80%;
}
.youtube{
  transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: all 2s ease;
  animation-name: myAnimationreserve;
  animation-duration: 2s;
  margin-right: 40px;
}
.youtube:hover{
  animation: myAnimation 4s  ease  2;
}
.twitter{
  transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: all 2s ease;
  animation-name: myAnimationreserve;
  animation-duration: 2s;
  margin-right: 40px;
}
.twitter:hover{
  animation: myAnimation 4s ease  2;
}
.facebook{
  transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition: all 2s ease;
  animation-name: myAnimationreserve;
  animation-duration: 2s;
  margin-right: 40px;
}
.facebook:hover{
  animation: myAnimation 4s ease  2;
}
@keyframes myAnimationreserve{
  from { transform: rotate3d(0, 0, 0, 0); }
  to { transform: rotate3d(1, 1, 0, 360deg); }
}
@keyframes myAnimation{
  from { transform: rotate3d(1, 1, 0, 360deg) ; }
  to { transform:rotate3d(0, 0, 0, 0) ; }
}
.box{
  width: 300px;
  height: 300px;
  background-color: #e5e5e5;
  border: 1px solid #c4c4c4;
  text-align: center;
  line-height: 300px;
  font-size: 30px;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 40px;
}
.front {
  transform: translate3d(0, 0, 150px);
}
.back {
  transform: translate3d(0, 0, -150px) rotateY(180deg);
}

.left {
  transform: translate3d(-150px, 0, 0px) rotateY(-90deg);
}

.right {
  transform: translate3d(150px, 0, 0px) rotateY(90deg);
  
}

.top {
  transform: translate3d(0px, -150px, 0px) rotateX(-90deg);
}

.bottom {
  transform: translate3d(0px, 150px, 0px) rotateX(-90deg);
}
.bx{
  font-size: 60px;
  color: #616161;
}
.youtube .right{
  background-color: rgb(243, 66, 66);
}
.twitter .right{
  background-color: rgb(77, 201, 250);
}
.facebook .right{
  background-color: rgb(52, 97, 243);
}
